.contact_me {
   padding: 60px 0;
}

.contact_heading {
   text-align: center;
   font-size: 50px;
   line-height: 40px;
}

.content_content {
   display: flex;
   gap: 100px;
   justify-content: center;
   align-items: center;
}

.content_img {
   background-size: contain;
   padding: 40px 0;
}

.content_img img {
   height: 500px;
   width: 400px;
}

.form_main {
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: center;
}

.form_inputs label {
   font-size: 20px;
   line-height: 40px;
   color: rgb(158, 226, 158);
}

.form_inputs input {
   height: 30px;
   width: 500px;
   border-radius: 10px;
   outline: none;
   padding: 10px;
}

.form_inputs textarea {
   width: 500px;
   height: 100px;
   border-radius: 10px;
   outline: none;
   padding: 10px;
   font-size: 18px;
}

.form_inputs2 input {
   padding: 10px 30px;
   border: none;
   border-radius: 10px;
   background: rgb(158, 226, 158);
   font-size: 18px;
   transition: 0.3s ease-in-out;
      cursor: pointer;

}

.form_inputs2 input:hover {
   background: white;

   

}

@media (max-width: 770px) {
   .contact_heading {
      font-size: 30px;
      line-height: 40px;
   }

   .form_inputs textarea {
   width: 300px;
 
}

.form_inputs input {
   height: 30px;
   width: 300px;
   border-radius: 10px;
   outline: none;
   padding: 10px;
}

}
@media (max-width: 390px) {
   .contact_heading {
      font-size: 30px;
      line-height: 40px;
   }

   .form_inputs textarea {
   width: 200px;
 
}

.form_inputs input {
   height: 30px;
   width: 200px;
   border-radius: 10px;
   outline: none;
   padding: 10px;
}

}