.header_main {
   padding-top: 68px;
  padding-bottom: 15%;
}

.header_container {
   display: flex;
   justify-content: space-between;
   gap: 50px;
   align-items: flex-start;
}

.header_content .heading {
   font-size: 55px;
   line-height: 20px;
   font-weight: 900;
}

.header_content .heading p span {
   border-bottom: 4px solid rgb(126, 221, 126);

}

.header_content .heading p span:hover {
   border-bottom: 4px solid orange;

}

.header_details {
   padding-top: 30px;
   font-size: 24px;
   line-height: 30px;
}

.header_image {
   width: 500px;
   height: 500px;
   border-radius: 50px;
}

.header_CONATCT {
   margin-top: 60px;
   font-size: 18px;
   line-height: 28px;
   padding-bottom: 5px;
   border-bottom: 2px solid rgb(126, 221, 126);
   text-decoration: none;
   color: white;
   display: inline-block;
 

}

.header_CONATCT:hover{
   border-bottom: 2px solid orange;
}

@media (max-width:1024px) {
   .header_content .heading {
      font-size: 55px;
      line-height: 60px;
      font-weight: 900;

   }

   .header_content .heading p {
      display: inline;
      padding-left: 10px;
   }

    .header_CONATCT {
      margin-top: 25px;
   }

   .header_container {
   display: flex;
   justify-content: space-between;
   gap: 50px;
   align-items: center;
}
}


@media (max-width:770px) {
   .header_container {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 40px;
   }

   .header_content .heading {
      font-size: 40px;
      line-height: 14px;
      font-weight: 900;
   }

   .header_content .heading p {
      display: block;

   }



   .header_details {
      padding-top: 30px;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
   }

   .header_CONATCT {
      margin-top: 25px;
   }
}


@media (max-width:450px) {
   .header_image {
      width: 275px;
      height: 275px;
      border-radius: 50px;
   }

   .header_main{
      padding-top: 20px;
   }

   
   .header_content .heading {
      font-size: 25px;
      line-height: 20px;
      font-weight: 900;
   }
}