@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}




body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
   background: #1c2022;
   color: #FFFFFF;
   background-repeat: no-repeat;
}

